<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @idea.overview %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @idea.skills %>
</p>

<p>
  <strong>Additional information:</strong>
  <%= @idea.additional_information %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @idea.platform %>
</p>

<p>
  <strong>Help needed:</strong>
  <%= @idea.help_needed %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
